---
layout: default
---
<section id="main-content">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

        <header>
            <h1 itemprop="name headline">{{ page.title }}</h1>
            <p>
                <time datetime="{{ page.date | date_to_xmlschema }}"
                      itemprop="datePublished">
                    {{ page.date | date: "%b %-d, %Y" }}
                </time>
                {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                    itemprop="name">{{ page.author }}</span></span>{% endif %}
            </p>
        </header>

        {% if page.tldr %}
        <details>
            <summary>tl;dr</summary>
            <p>{{ page.tldr }}</p>
        </details>
        {% endif %}

        <div itemprop="articleBody">
            {{ content }}
        </div>
    </article>
</section>

<div id="disqus_thread"></div>
<script>
    /*
     var disqus_config = function () {
     this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";
     this.page.identifier = "{{ page.url | replace:'index.html','' }}";
     };
     */
    (function() {
        var d = document, s = d.createElement('script');

        s.src = '//juliendufresneblog.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
